body {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    text-align: center;
}

main {
    width: 80%;
    margin: 0 auto;
    border: 5px solid black;
    height: 500px;
    display: flex;
}

/* In this example the main will grow fast and shrink slow */

main .left-sidebar {
    background-color: #6930c3;
    /* flex-grow flex shrink flex basis */
    flex: 1 2 300px;
}

main .right-sidebar {
    background-color: yellow;
    flex: 1 2 200px;
}

main .maincontent {
    background-color: #80ffdb;
    flex: 2 1 800px;
}